{% load static %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        {% block header %}{% endblock header %}
        
        {% block content %}{% endblock content %}
    </body>
</html>
