{% extends "user/base.html" %}


{% block header %}
<div id="header">
<h1>Quick Peek</h1>
</div>
{% endblock header %}

{% block content %}
<div class="content content-search">
    
    <form action="{% url 'user:query' %}" method="POST">
        
        {% csrf_token %}
        <input id="search" type="search" name="search" placeholder="Enter username" autocomplete="off">
        <br /><br />
        
        <button type="button" class="btn btn-primary">Primary</button>

    </form>

    <div id="alert">
    {% if error %}
    <h2>This user does not exist or is banned.</h2>
    {% endif %}
    </div>

</div>
{% endblock %}